!!! 5
html
	head
		title Phantachat
		style
			html {
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
			body {
				padding: 0;
				margin: 0 auto;
				text-align: center;
				width: 100%;
				height: 100%;
				background: white;
			}
			#container {
				color: #404040;
				text-align: left;
				font-size: 1.4em;
				width: 26em;
				padding: 4em;
				line-height: 1.54em;
				margin: 0 auto;
			}
			#footerholder {
				padding-bottom: 0.6em;
				bottom: 0;
				position: fixed;
				width: 100%;
			}
			#footer {
				color: gray;
				margin: 0 auto;
			}
		body
			#container
				p
					b Phantachat is an online chat service designed to mimic the way humans converse in real life. 
				p Existing text based communication apps (i.e. email and instant message) save your message history, which encourages asynchronous communication. To bring online communication to a more intimate level, Phantachat sends your message in real time as you are typing and does not save any chat history. Each message is displayed on screen for a few seconds before disappearing, promoting synchronous communication where both users are expected to be online at the same time to actively engage in the conversation.
				p
					a(href="http://andymjiang.wordpress.com/2013/06/04/phantachat-node-js-websockets-and-ephemeral-conversation/") Read about how it is made here.
			#footerholder
				#footer
					a(href="/") Home
					&nbsp;&bull; 2013